<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="DefaultEndpointsProtocol=https;AccountName=pppkskstorage;AccountKey=ivavtUw7V4asdO6Bimo2428+VViBBrZEHRM2ovcYjwB/5y370hF9OZMig7z8x7G0IRdBkA5AdQvL+AStwzFt7A==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>